body{
    background-color: #F8F0F0;
}
header{
    background-color: #0077B6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 1280px;
    height: 90px;
    left: 0px;
    top: 0px;

}
nav{
    display: flex;
    flex-direction: row;
}
nav img{
    width: 70px;
    height: 74px;
    left: 88px;
    top: 13px;
    line-height: 60px;
}
h1{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-family: 'Italianno', cursive;
    font-family: 'Mountains of Christmas', serif;
    font-family: 'Vesper Libre', serif;
    font-size: 30px;
    line-height: 60px;
    width: 446px;
    height: 90px;
    left: 88px;
    top: 32px;

}

li { 
    display: inline; 
    padding: 20px; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
    color:#FFFFFF;
    width: 588px;
    height: 90px;
    left: 1028px;
    top: 32px;

} 
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 1280px;
    height: 271px;
    left: 0px;
    top: 119px;
    background: #0077B6;
}
h2{ 
    font-family: 'Josefin Sans';
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}