body{
    background-color: #F8F0F0;
}
header{
    background-color: #0077B6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 10px;
    background-color: #FFFFFF;
    border: 2px solid black;
}

article > img{
    width: 50%;
    height: auto;
    grid-row: 2;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav img{
    width: 70px;
    height: 74px;
    left: 88px;
    top: 0px;
    line-height: 100px;
}

li a, li b{
    text-decoration: none;
    color: #FFFFFF;
}
h1{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 30px;
    line-height: 100px;
    width: 446px;
    height: 90px;
    left: 88px;
    top: 32px;

}

#links{ 
    display: inline; 
    padding: 20px; 
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    /* line-height: 60px; */
    color:#FFFFFF;
    /* width: 588px;
    height: 90px;
    left: 1028px;
    top: 32px; */

} 
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /*box-sizing: border-box;
    position: absolute;
    /*width: 1280px;
    height: 271px;
    left: 0px;
    top: 119px;**/
    background: #0077B6;
}
h2{ 
    font-family: 'Josefin Sans';
    font-style: italic;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3{
    font-family: 'Josefin Sans';
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color:black;
}
p{
    font-family: 'Josefin Sans';
    font-style: italic;
    font-size:40px;
    text-align: center;
    color:#FF0000;

}

aside{
    grid-column: 4;
    grid-row:1;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}

aside img{
    width: 70px;
    height: auto;
}
.cart-text{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
}
#cart-items li{
    font-family: 'Josefin Sans';
    font-style: italic;
    color:black;

}
h4{
    font-family: 'Josefin Sans';
    font-style: italic;
    font-size: 20px;
    background-color: #FFFFFF;
}

#total{
    font-family: 'Josefin Sans';
    font-style: italic;
    font-size: 20px;
    color: black;
}

button{
    background-color: #FFFFFF;
    width: 157px;
    height: 52px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Josefin Sans';
    font-style: italic;
}

#checkout{
    background-color: #FFFFFF;
    width: 157px;
    height: 52px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Josefin Sans';
    font-style: italic;
}

footer{
    background-color: #0077B6;
    font-size: large;
    display: flex;
    flex-direction: row; 
    
}
li{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    
}
#info,#service{
    color: #FFFFFF;
    font-size: 20px;
}

@media screen and (min-width:641px) and (max-width:1007px) { 
    header{
        background-color: #0077B6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header ul{
        font-size: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr 1fr 1fr;
    }

    article{
        padding: 0px;
        margin: 10px;
        background-color: #FFFFFF;
        border: 2px solid black;
        
    }

    aside{
        grid-column: 1/2;
        grid-row:4;
        border: 2px solid black;
        border-radius: 5px;
        margin: 10px;
        
    }

}